.infoContainer
  display: flex
  flex-wrap: wrap
  // height: 100vh


.SubMenu
  // display: none
.media
  width: 100%
  height: auto
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap

.videoPlayer
  display: flex
  width: 100%
  height: 100%
  justify-content: center
  // background-color: red

.buttons
  height: 50px
  justify-content: center
  // width: 100%

.oneButton
  height: 50px

.allComments
  width: 100%
  display: flex
  justify-content: center

.comments
  max-height: 300px
  overflow: hidden

.commentInput
  width: 614px
  height: 50px
  color: white
  font-size: 30px
  text-align: center
  background-color: #363637
  outline: none

.userComment
  cursor: pointer
  width: 80%
  color: white

.displayBigPoster
  height: 400px
  width: 100%
  background-color: black
  background-repeat: no-repeat
  background-position: 100% 20%
  background-size: 60%

.movieTitle, .movieInfo, .movieSummary, .movieGenre, .movieCast, .movieDirectors
  color: white
  width: 42%

.movieSummary
  height: 30%
  overflow-y: hidden

.oneMovie,
  height: 400px
  width: 250px
  margin-top: -600px
  margin-left: 70%
  background-color: red
  border: 1px solid black
  box-shadow: 1px 1px 3px
  left: 50px
  background:
    position: center
    size: cover
    repeat: no-repeat
  cursor: pointer
  position: relative
  & .textContainer
    position: absolute
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    transition: all .3s
    top: 0
    left: 0
    background-color: rgba(0,0,0,.6)
    opacity: 0
    &:hover
      opacity: 1
    & p
      color: white
      font-weight: bold
