.uploadInput
  cursor: 'pointer'
  position: 'absolute'
  top: 0
  bottom: 0
  right: 0
  left: 0
  width: '100%'
  opacity: 0
  display: none

.imageUpload
  vertical-align: middle
  margin-top: 20px

.registerForm
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.registerTitle
  font-size: 40px
  padding: 30px
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  color: white
  background-color: #363637


.registerSubmit
  // font-size: 30px
  margin-top: 25px

.translation
  float: right
  padding: 7px

.language
  width: 50px
  height: 24px
  border: none
  box-shadow: 0px 1px 2px;

.langButton
  border: none
  text-decoration: none
  background-color: #363637
  cursor: pointer
  outline: none


.signInIcon
  float: right
  cursor: pointer
  padding-top: 4px
  color: white
  
  // margin-top: 28px

.errorRegister
	border-radius: 5px
	width: 80%
	line-height: 30px
	background-color: #f2dede
	color: #af4842
	text-align: center
