.infoContainer
  display: flex
  flex-wrap: wrap
  // height: 100vh


.SubMenu
  // display: none

.videoPlayer
  display: flex
  width: 100%
  justify-content: center

.displayBigPoster
  height: 400px
  width: 100%
  background-color: black
  background-repeat: no-repeat
  background-position: 100% 20%
  background-size: 60%

.movieTitle, .movieInfo, .movieSummary, .movieGenre, .movieCast, .movieDirectors
  color: white
  width: 42%

.movieSummary
  height: 30%
  overflow-y: hidden

.oneMovie,
  height: 400px
  width: 250px
  margin-top: -600px
  margin-left: 70%
  background-color: red
  border: 1px solid black
  box-shadow: 1px 1px 3px
  left: 50px
  background:
    position: center
    size: cover
    repeat: no-repeat
  cursor: pointer
  position: relative
  & .textContainer
    position: absolute
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    transition: all .3s
    top: 0
    left: 0
    background-color: rgba(0,0,0,.6)
    opacity: 0
    &:hover
      opacity: 1
    & p
      color: white
      font-weight: bold

.userComment
  cursor: pointer
