$break: 736px

.infoContainer
  display: flex
  flex-wrap: wrap
  flex-direction: row
  height: 400px
  // height: 100vh

.displayBigPoster
  height: 400px
  width: 100%
  background-color: black
  background-repeat: no-repeat
  // background-position: center
  background-size: cover
  background-position: 100% 20%
  background-size: 100%
  filter: blur(1px)
  z-index: -1
  position: absolute

.allSerieInfo
	height: 400px
	width: 100%
	background-color: rgba(0, 0, 0, 0.4)
	@media screen and (max-width: $break)
	    overflow: scroll

.serieTitle, .serieInfo, .serieSummary, .serieReleased, .serieDuration, .serieSummary, .serieGenre, .serieCast, .serieDirectors
  color: white
  text-shadow: 2px 1px black

.return
  height: 50px
  width: 100%
  & i
    font-size: 50px
    height: 50px
    width: 50px
    color: white
    margin: 10px
    & :hover
    cursor: pointer

.serieTitle
	font-size: 30px
	line-height: 20px
	font-weight: bold
	margin: 0px

.serieSummary, .serieCast
	width: 40%

.seasonDisplay
  display: flex
  width: 100%
  height: 50px
  justify-content: space-around
  & p
    color: white
    text-align: center
    font-weight: bold

.poster
  margin-top: 30px
  height: 400px
  width: 250px
  background-size: cover
  background-position: center
  cursor: pointer

.listEpisodes
  margin-top: 30px
  display: flex
  flex-direction: column
  width: 100%
  height: 50px
  color: white

.episodes
  align-items: center
  cursor: pointer

.one
  background-color: #313133
  height: inherit

.two
  height: inherit


.seasonNone
  display: none !important
