.fblogo
  width: 43px
  height: 32px

.fortyTwoLogo
  width: 28px
  height: 20px
  border: 2px solid white
  margin: 3px

.Glogo
  width: 21px
  height: 21px
  margin: 0px 4px 4px 15px

.omniAuth
  width: 200px
  height: 56px
  text-align: center
