.Header
  height: 50px
  display: flex
  flex-direction: row
  align-items: center
  // background-color: #e0001b
  background-color: #F44336
  // justify-content: center

.HeaderButton
  position: absolute
  display: flex
  align-items: center
  right: 0px
  & .RaisedButton
    margin-right: 5px
    color: white !important


.SubMenu
  // box-shadow: 1px 1px 10px
  height: 50px
  background-color: #363637
  width: 100%

.logo
  cursor: pointer
  margin-left: 20px

.profilePicture
  background-size: cover
  width: 45px
  height: 45px
  border-radius: 50%
  cursor: pointer
  margin-right: 30px
  display: inline-block
